{
    "if": {
        "allOf": [
            {
                "field": "tags['managedBy']",
                "exists": "false"
            }
        ]
    },
    "then": {
        "effect": "deny"
    }
}
