---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-aat.internal
      ssl_host_name_suffix: aat.platform.hmcts.net
      certificate_name: wildcard-aat-platform-hmcts-net
    app_configuration:
    # RPE
      - product: draft-store
        component: service
      - product: cmc
        component: pdf-service
      - product: rpe
        component: pdf-service
      - product: rpe
        component: service-auth-provider
      # Camunda
      - product: camunda
        component: bpm
        ssl_enabled: true
        cookie_based_affinity: Enabled
      - product: camunda
        component: api
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
      - product: probate
        component: back-office
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api
      - product: ia
        component: aip-frontend
      - product: ia
        component: home-office-integration-api
      - product: ia
        component: home-office-mock-api
      - product: ia
        component: timed-event-service
      - product: ia
        component: case-payments-api

    # Protected Characteristics Questions
      - product: pcq
        component: backend

    # Divorce
      - product: div
        component: emca
      - product: div
        component: fps
      - product: div
        component: dgs
      - product: div
        component: cms
      - product: div
        component: cos
      - product: div
        component: hm
      - product: div
        component: cfs

    # Financial Remedy
      - product: finrem
        component: ns
      - product: finrem
        component: ps
      - product: finrem
        component: emca
      - product: finrem
        component: dgcs
      - product: finrem
        component: cos

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share
      - product: sscs
        component: bulk-scan
      - product: sscs
        component: tya-notif
      - product: sscs
        component: ccd-callback-orchestrator

    # FPLA
      - product: fpl
        component: case-service

    # Adoption
      - product: adoption
        component: backend

    # Ethos
      - product: ethos
        component: repl-docmosis-backend
      - product: ethos
        component: ecm-consumer

    # Access Management
      - product: am
        component: accessmgmt-api
      - product: am
        component: role-assignment-service
      - product: am
        component: judicial-booking-service
      - product: am
        component: org-role-mapping-service

    # Evidence Management
      - product: em
        component: anno
      - product: em
        component: npa
      - product: em
        component: stitching
      - product: em
        component: ccd-orchestrator
      - product: em
        component: showcase
      - product: em
        component: icp
      - product: dg
        component: docassembly
      - product: dm
        component: store

    # Bulk scan and print
      - product: bulk-scan
        component: payment-processor
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: sample-app
      - product: bulk-scan
        component: orchestrator
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

    # CCD
      - product: ccd
        component: data-store-api
      - product: ccd
        component: definition-store-api
      - product: ccd
        component: user-profile-api
      - product: ccd
        component: test-stubs-service
      - product: ccd
        component: case-print-service
      - product: ccd
        component: case-activity-api
      - product: ccd
        component: admin-web
        ssl_enabled: true
      - product: ccd
        component: case-document-am-api
      - product: ccd
        component: message-publisher

    # AAC (CDM)
      - product: aac
        component: manage-case-assignment

    # CTSC
      - product: ctsc
        component: work-allocation

    # xui
      - product: xui
        component: terms-and-conditions

    # BAR
      - product: bar
        component: api

      # Professional Reference data
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync
      - product: rd
        component: judicial-api
      - product: rd
        component: judicial-data-load
      - product: rd
        component: caseworker-ref-api
      - product: rd
        component: location-ref-api
      - product: rd
        component: location-ref-data-load

      # Send-letter
      - product: rpe
        component: send-letter-service

      # ccpay
      - product: ccpay
        component: bulkscanning-api
      - product: payment
        component: api
      - product: fees-register
        component: api

      # CMC
      - product: cmc
        component: claim-store

      # FACT
      - product: fact
        component: api

      # NFDIV
      - product: nfdiv
        component: cos
      - product: nfdiv
        component: cms

# IDAM AAT
      - product: idam
        component: api
        ssl_enabled: true
      - product: idam
        component: web-admin
        cookie_based_affinity: Enabled
        ssl_enabled: true

# rse
      - product: rse
        component: check

     # Unspec
      - product: unspec
        component: service
      - product: civil-damages
        component: service-xui-staging
      - product: civil-damages
        component: service-camunda-staging
      - product: civil-damages
        component: ccd-xui-staging
      - product: civil-damages
        component: ccd-camunda-staging
      - product: civil-damages
        component: camunda-xui-staging
      - product: civil-damages
        component: camunda-camunda-staging

      # Work Allocation
      - product: wa
        component: workflow-api
      - product: wa
        component: task-management-api
      - product: wa
        component: task-configuration-api

