---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-aat.internal
      ssl_host_name_suffix: aat.platform.hmcts.net
      certificate_name: wildcard-aat-platform-hmcts-net
      private_ip_address: 10.10.161.100
    app_configuration:
    # RPE
      - product: draft-store
        component: service
      - product: cmc
        component: pdf-service
      - product: rpe
        component: pdf-service
      - product: rpe
        component: service-auth-provider
      # Camunda
      - product: camunda
        component: bpm
        ssl_enabled: true
        cookie_based_affinity: Enabled
      - product: camunda
        component: api
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
      - product: probate
        component: back-office
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api
      - product: ia
        component: aip-frontend
      - product: ia
        component: home-office-integration-api
      - product: ia
        component: home-office-mock-api
      - product: ia
        component: timed-event-service
      - product: ia
        component: case-payments-api

    # Protected Characteristics Questions
      - product: pcq
        component: backend

    # Log and Audit
      - product: lau
        component: case-backend
      - product: lau
        component: idam-backend

    # Divorce
      - product: div
        component: emca
      - product: div
        component: fps
      - product: div
        component: dgs
      - product: div
        component: cms
      - product: div
        component: cos
      - product: div
        component: hm
      - product: div
        component: cfs

    # Financial Remedy
      - product: finrem
        component: ps
      - product: finrem
        component: cos

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share
      - product: sscs
        component: bulk-scan
      - product: sscs
        component: tya-notif
      - product: sscs
        component: ccd-callback-orchestrator

    # FPLA
      - product: fpl
        component: case-service

    # Adoption COS API
      - product: adoption
        component: cos-api

    # Ethos
      - product: ethos
        component: repl-docmosis-backend
      - product: ethos
        component: ecm-consumer

    # Access Management
      - product: am
        component: accessmgmt-api
      - product: am
        component: role-assignment-service
      - product: am
        component: judicial-booking-service
      - product: am
        component: org-role-mapping-service

    # Evidence Management
      - product: em
        component: anno
      - product: em
        component: npa
      - product: em
        component: stitching
      - product: em
        component: ccd-orchestrator
      - product: em
        component: showcase
      - product: em
        component: icp
      - product: em
        component: hrs-api
      - product: em
        component: hrs-ingestor
      - product: dg
        component: docassembly
      - product: dm
        component: store

    # Bulk scan and print
      - product: bulk-scan
        component: payment-processor
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: sample-app
      - product: bulk-scan
        component: orchestrator
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

    # CCD
      - product: ccd
        component: data-store-api
      - product: ccd
        component: definition-store-api
      - product: ccd
        component: user-profile-api
      - product: ccd
        component: test-stubs-service
      - product: ccd
        component: case-print-service
      - product: ccd
        component: case-activity-api
      - product: ccd
        component: admin-web
        ssl_enabled: true
      - product: ccd
        component: case-document-am-api
      - product: ccd
        component: message-publisher

    # AAC (CDM)
      - product: aac
        component: manage-case-assignment

    # CTSC
      - product: ctsc
        component: work-allocation

    # xui
      - product: xui
        component: terms-and-conditions
      - product: xui
        component: activity-tracker-api

    # BAR
      - product: bar
        component: api

      # Professional Reference data
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync
      - product: rd
        component: judicial-api
      - product: rd
        component: caseworker-ref-api
      - product: rd
        component: location-ref-api
      - product: rd
        component: commondata-api

      # Send-letter
      - product: rpe
        component: send-letter-service

      # ccpay
      - product: ccpay
        component: bulkscanning-api
      - product: payment
        component: api
      - product: fees-register
        component: api
      - product: ccpay
        component: refunds-api
      - product: ccpay
        component: notifications-service

      # CMC
      - product: cmc
        component: claim-store

      # FACT
      - product: fact
        component: api

      # NFDIV
      - product: nfdiv
        component: case-api

# IDAM AAT
      - product: idam
        component: api
        ssl_enabled: true
      - product: idam
        component: web-admin
        cookie_based_affinity: Enabled
        ssl_enabled: true

# rse
      - product: rse
        component: check

     # Civil
      - product: civil
        component: service

      # Work Allocation
      - product: wa
        component: workflow-api
      - product: wa
        component: task-management-api

    # Docmosis
      - product: dg
        component: docmosis
        cookie_based_affinity: Enabled
        ssl_enabled: true
        host_name_prefix: docmosis
        http_to_https_redirect: true
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
  - gateway_configuration:
      host_name_suffix: service.core-compute-aat.internal
      ssl_host_name_suffix: aat.platform.hmcts.net
      certificate_name: wildcard-aat-platform-hmcts-net
      private_ip_address: 10.10.161.101
    app_configuration:
    # WA - Work Allocation
      - product: wa
        component: case-event-handler
      - product: wa
        component: task-monitor

    # CPO (CDM)
      - product: cpo
        component: case-payment-orders-api

      # I&A
      - product: ia
        component: case-access-api
      - product: ia
        component: bail-case-api

      # Camunda
      - product: camunda
        component: optimize
        ssl_enabled: true
        cookie_based_affinity: Enabled
        health_path_override: /api/readyz

    # Family Private Law
      - product: fprl
        component: cos
      - product: fprl
        component: dgs
      - product: prl
        component: cos
      - product: prl
        component: dgs

    # ET
      - product: et
        component: cos
      - product: et
        component: msg-handler
      - product: et
        component: sya-api
      - product: et
        component: hearings-api

    # IDAM
      - product: idam
        component: user-dashboard
        ssl_enabled: true
      - product: idam
        component: testing-support-api
        ssl_enabled: true
      - product: idam
        component: hmcts-access
        ssl_enabled: true
      - product: idam
        component: user-profile-bridge
        ssl_enabled: true

    # RPTS
      - product: rpts
        component: api

    # FIS
      - product: fis
        component: cos-api
      - product: fis
        component: bulk-scan-api
      - product: fis
        component: hmc-api

    # HMC
      - product: hmc
        component: cft-hearing-service
      - product: hmc
        component: hmi-inbound-adapter
      - product: hmc
        component: hmi-outbound-adapter

    # TS
      - product: ts
        component: translation-service

    # CNP
      - product: plum
        component: recipe-backend

    # SSCS
      - product: sscs
        component: hearings-api
    # Civil
      - product: civil
        component: general-applications
      - product: civil
        component: orchestrator-service

    # SPTRIBS
      - product: sptribs
        component: case-api

    # ccpay
      - product: ccpay
        component: cpo-update-service

    # jps
      - product: jps
        component: judicial-payment-service

    # et-pet
      - product: et-pet
        component: api
      - product: et-pet
        component: ccd-export

    # help-with-fees
      - product: hwf
        component: benefit-checker-api
