---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-demo.internal
      ssl_host_name_suffix: demo.platform.hmcts.net
      certificate_name: wildcard-demo-platform-hmcts-net
      private_ip_address: 10.50.97.118
    app_configuration:
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION, SCROLL TO THE NEXT ONE
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION, SCROLL TO THE NEXT ONE
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION, SCROLL TO THE NEXT ONE
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION, SCROLL TO THE NEXT ONE
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION, SCROLL TO THE NEXT ONE
    # RPE
      - product: draft-store
        component: service
      - product: cmc
        component: pdf-service
      - product: rpe
        component: pdf-service
      - product: rpe
        component: service-auth-provider
      # Camunda
      - product: camunda
        component: api
      - product: camunda
        component: optimize
        ssl_enabled: true
        cookie_based_affinity: Enabled
        health_path_override: /api/readyz
    # Divorce
      - product: div
        component: emca
      - product: div
        component: fps
      - product: div
        component: dgs
      - product: div
        component: cms
      - product: div
        component: cos
      - product: div
        component: hm
      - product: div
        component: cfs

    # Financial Remedy
      - product: finrem
        component: ps
      - product: finrem
        component: cos

    # FPLA
      - product: fpl
        component: case-service

    # Fees and Pay
      - product: payment
        component: api
      - product: fees-register
        component: api

    # ccpay
      - product: ccpay
        component: bulkscanning-api
      - product: ccpay
        component: refunds-api

    # BAR
      - product: bar
        component: api

     # IA
      - product: ia
        component: case-api
      - product: ia
        component: case-documents-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: home-office-integration-api
      - product: ia
        component: home-office-mock-api
      - product: ia
        component: case-payments-api
      - product: ia
        component: timed-event-service
      - product: ia
        component: case-access-api
      - product: ia
        component: bail-case-api

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share
      - product: sscs
        component: bulk-scan
      - product: sscs
        component: ccd-callback-orchestrator
      - product: sscs
        component: tya-notif

    # Ethos
      - product: ethos
        component: repl-docmosis-backend
      - product: ethos
        component: ecm-consumer

    # CCD
      - product: ccd
        component: data-store-api
      - product: ccd
        component: definition-store-api
      - product: ccd
        component: user-profile-api
      - product: ccd
        component: case-activity-api
      - product: ccd
        component: message-publisher
      - product: ccd
        component: case-document-am-api

    # AAC (CDM)
      - product: aac
        component: manage-case-assignment

    # CPO (CDM)
      - product: cpo
        component: case-payment-orders-api

    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
      - product: probate
        component: back-office

    # Protected Characteristics Questions
      - product: pcq
        component: backend

    # Log and Audit
      - product: lau
        component: case-backend

    # CMC
      - product: cmc
        component: claim-store

    # BulkScan
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: orchestrator
      - product: bulk-scan
        component: sample-app
      - product: bulk-scan
        component: payment-processor
    # Bulk Print
      - product: rpe
        component: send-letter-service

     # ReformScan (like BulkScan but separate namespace for non-CFT members)
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

    # Evidence Management
      - product: em
        component: anno
      - product: em
        component: npa
      - product: em
        component: stitching
      - product: em
        component: ccd-orchestrator
      - product: em
        component: showcase
      - product: em
        component: icp
      - product: em
        component: hrs-api
      - product: em
        component: hrs-ingestor
      - product: dg
        component: docassembly
      - product: dm
        component: store

    # xui
      - product: xui
        component: terms-and-conditions
      - product: xui
        component: terms-and-conditions-int
      - product: xui
        component: activity-tracker-api

    # Access Management
      - product: am
        component: role-assignment-service
      - product: am
        component: judicial-booking-service
      - product: am
        component: org-role-mapping-service

      # FACT
      - product: fact
        component: api

      # NFDIV
      - product: nfdiv
        component: case-api

     # rse
      - product: rse
        component: check

     # Civil
      - product: civil
        component: service
      - product: civil
        component: general-applications
      - product: civil
        component: orchestrator-service

      # WA - Work Allocation
      - product: wa
        component: workflow-api
      - product: wa
        component: task-management-api
      - product: wa
        component: case-event-handler
      - product: wa
        component: task-monitor

    # SIDAM
      - product: idam
        component: api
        ssl_enabled: true

    # Docmosis
      - product: dg
        component: docmosis
        cookie_based_affinity: Enabled
        ssl_enabled: true
        host_name_prefix: docmosis
        http_to_https_redirect: true
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
    ##### DO NOT ADD ANY MORE SERVICES TO THIS GATEWAY CONFIGURATION ABOVE, USE THE ONE BELOW THIS WARNING
  - gateway_configuration:
      host_name_suffix: service.core-compute-demo.internal
      ssl_host_name_suffix: demo.platform.hmcts.net
      certificate_name: wildcard-demo-platform-hmcts-net
      private_ip_address: 10.50.97.119
    app_configuration:
    # CCD
      - product: ccd
        component: ac-int-data-store-api
      - product: ccd
        component: test-stubs-service
      - product: ccd
        component: ac-int-definition-store-api
      - product: ccd
        component: admin-web
        ssl_enabled: true

    # FPRL
      - product: fprl
        component: cos
      - product: prl
        component: cos
      - product: prl
        component: dgs
    # Adoption
      - product: adoption
        component: cos-api
    # ET
      - product: et
        component: cos
      - product: et
        component: msg-handler
      - product: et
        component: sya-api
      - product: et
        component: hearings-api
    # ccpay
      - product: ccpay
        component: notifications-service

    # Log and Audit
      - product: lau
        component: idam-backend
      - product: lau
        component: idam-backend-int
      - product: lau
        component: case-backend-int

    # Protected Characteristics Questions
      - product: pcq
        component: backend-int

    # AAC (CDM)
      - product: aac
        component: ac-int-manage-case-assignment

    # Camunda
      - product: camunda
        component: bpm
        ssl_enabled: true
        cookie_based_affinity: Enabled

# Reference DATA
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync
      - product: rd
        component: caseworker-ref-api
      - product: rd
        component: judicial-api
      - product: rd
        component: judicial-data-load
      - product: rd
        component: location-ref-api
      - product: rd
        component: professional-api-int
      - product: rd
        component: profile-sync-int
      - product: rd
        component: user-profile-api-int
      - product: rd
        component: caseworker-ref-api-int
      - product: rd
        component: judicial-api-int
      - product: rd
        component: location-ref-api-int
      - product: rd
        component: commondata-api

    # HMC
      - product: hmc
        component: cft-hearing-service
      - product: hmc
        component: hmi-inbound-adapter
      - product: hmc
        component: hmi-outbound-adapter

      - product: sscs
        component: hearings-api

     # Fees and Pay
      - product: payment
        component: api-int
      - product: ccpay
        component: refunds-api-int
      - product: fees-register
        component: api-int
      - product: ccpay
        component: bulkscanning-api-int
      - product: ccpay
        component: notifications-service-int

     # BAR
      - product: bar
        component: api-int

     # TS
      - product: ts
        component: translation-service
    # FIS
      - product: fis
        component: bulk-scan-api
      - product: fis
        component: cos-api
      - product: fis
        component: hmc-api

      # IDAM
      - product: idam
        component: testing-support-api
        ssl_enabled: true
      - product: idam
        component: hmcts-access
        ssl_enabled: true
      - product: idam
        component: user-profile-bridge
        ssl_enabled: true

      # SPTRIBS
      - product: sptribs
        component: case-api

      # RPTS
      - product: rpts
        component: api

      # CNP
      - product: plum
        component: recipe-backend

      # ccd-int
      - product: dm
        component: store-ccd-int
      - product: em
        component: anno-ccd-int
      - product: ccd
        component: admin-ccd-int

    # CIVIL
      - product: civil
        component: sdt
      - product: civil
        component: sdt-commissioning
      - product: civil
        component: sdt-gateway

    # jps
      - product: jps
        component: judicial-payment-service
        
    # et-pet
      - product: et-pet
        component: api-base
      - product: et-pet
        component: ccd-export-base
