---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-prod.internal
      ssl_host_name_suffix: platform.hmcts.net
      certificate_name: wildcard-platform-hmcts-net
      private_ip_address: 10.90.96.20
    app_configuration:
    # RPE
      - product: draft-store
        component: service
      - product: cmc
        component: pdf-service
      - product: rpe
        component: pdf-service
      - product: rpe
        component: service-auth-provider
    # Camunda
      - product: camunda
        component: bpm
        ssl_enabled: true
        cookie_based_affinity: Enabled
      - product: camunda
        component: api
      - product: camunda
        component: optimize
        ssl_enabled: true
        cookie_based_affinity: Enabled
        health_path_override: /api/readyz
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
      - product: probate
        component: back-office

    # Protected Characteristics Questions
      - product: pcq
        component: backend

    # Log and Audit
      - product: lau
        component: case-backend
      - product: lau
        component: idam-backend

    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api
      - product: ia
        component: timed-event-service
      - product: ia
        component: home-office-integration-api
      - product: ia
        component: case-payments-api
      - product: ia
        component: case-access-api

    # Divorce
      - product: div
        component: emca
      - product: div
        component: fps
      - product: div
        component: dgs
      - product: div
        component: cms
      - product: div
        component: cos
      - product: div
        component: hm
      - product: div
        component: cfs

    # Financial Remedy
      - product: finrem
        component: ps
      - product: finrem
        component: cos

    # Evidence Management
      - product: em
        component: anno
      - product: em
        component: npa
      - product: em
        component: stitching
      - product: em
        component: ccd-orchestrator
      - product: em
        component: icp
      - product: em
        component: hrs-api
      - product: em
        component: hrs-ingestor
      - product: dg
        component: docassembly
      - product: dm
        component: store

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share
      - product: sscs
        component: bulk-scan
      - product: sscs
        component: ccd-callback-orchestrator
      - product: sscs
        component: tya-notif

    # FPLA
      - product: fpl
        component: case-service

    # Fees and Pay
      - product: payment
        component: api
      - product: fees-register
        component: api
      - product: ccpay
        component: refunds-api
      - product: ccpay
        component: notifications-service

    # Ethos
      - product: ethos
        component: repl-docmosis-backend
      - product: ethos
        component: ecm-consumer

    # CCD
      - product: ccd
        component: data-store-api
      - product: ccd
        component: definition-store-api
      - product: ccd
        component: user-profile-api
      - product: ccd
        component: case-print-service
      - product: ccd
        component: admin-web
        ssl_enabled: true
      - product: ccd
        component: message-publisher
      - product: ccd
        component: case-document-am-api

    # AAC (CDM)
      - product: aac
        component: manage-case-assignment

    # CPO (CDM)
      - product: cpo
        component: case-payment-orders-api

    # Professional Reference data
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync
      - product: rd
        component: judicial-api
      - product: rd
        component: location-ref-api
      - product: rd
        component: caseworker-ref-api
      - product: rd
        component: commondata-api

    # Access Management
      - product: am
        component: role-assignment-service
      - product: am
        component: org-role-mapping-service

    # Bulk scan and print
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: orchestrator
      - product: bulk-scan
        component: payment-processor
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

      # Send-letter
      - product: rpe
        component: send-letter-service

    # ccpay
      - product: ccpay
        component: bulkscanning-api

    # xui
      - product: xui
        component: terms-and-conditions
      - product: xui
        component: activity-tracker-api

    # CMC
      - product: cmc
        component: claim-store

    # IDAM
      - product: idam
        component: api
        ssl_enabled: true
      - product: idam
        component: web-admin
        cookie_based_affinity: Enabled
        ssl_enabled: true
      - product: idam
        component: user-dashboard
        ssl_enabled: true
      - product: idam
        component: user-profile-bridge
        ssl_enabled: true

 # FACT
      - product: fact
        component: api
      - product: fact
        component: data-api

 # Docmosis
      - product: dg
        component: docmosis
        cookie_based_affinity: Enabled
        ssl_enabled: true
        host_name_prefix: docmosis
        http_to_https_redirect: true

 # WA - Work Allocation
      - product: wa
        component: workflow-api
      - product: wa
        component: task-management-api
      - product: wa
        component: case-event-handler
      - product: wa
        component: task-monitor

 # CIVIL
      - product: civil
        component: service
      - product: civil
        component: general-applications

 # NFDIV
      - product: nfdiv
        component: case-api

 # Adoption
      - product: adoption
        component: cos-api


# Private Law
      - product: prl
        component: cos
      - product: prl
        component: dgs

# HMC
      - product: hmc
        component: cft-hearing-service
      - product: hmc
        component: hmi-inbound-adapter
      - product: hmc
        component: hmi-outbound-adapter

  - gateway_configuration:
      host_name_suffix: service.core-compute-prod.internal
      ssl_host_name_suffix: platform.hmcts.net
      certificate_name: wildcard-platform-hmcts-net
      private_ip_address: 10.90.96.21
    app_configuration:
      # plum
      - product: plum
        component: recipe-backend
      # ET
      - product: et
        component: cos
      - product: et
        component: msg-handler
      - product: et
        component: sya-api
      - product: et
        component: hearings-api

      # CCD
      - product: ccd
        component: case-activity-api

      # SSCS
      - product: sscs
        component: hearings-api

      # TS
      - product: ts
        component: translation-service

      # FIS
      - product: fis
        component: bulk-scan-api
      - product: fis
        component: cos-api
      - product: fis
        component: hmc-api

      # I&A
      - product: ia
        component: bail-case-api
      - product: ia
        component: hearings-api

      # Access Management
      - product: am
        component: judicial-booking-service

      # SPTRIBS
      - product: sptribs
        component: case-api

      # DTSSE
      - product: dtsse
        component: ardoq-adapter

      # jps
      - product: jps
        component: judicial-payment-service

      # et-pet
      - product: et-pet
        component: api
      - product: et-pet
        component: ccd-export

      # CIVIL SDT
      - product: civil
        component: sdt
      - product: civil
        component: sdt-commissioning
      - product: civil
        component: sdt-gateway

      # help-with-fees
      - product: hwf
        component: benefit-checker-api
