---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-sandbox.internal
      ssl_host_name_suffix: sandbox.platform.hmcts.net
      certificate_name: wildcard-sandbox-platform-hmcts-net
      private_ip_address: 10.2.13.112
    app_configuration:
    # RPE
      - product: draft-store
        component: service
        
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
        
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api
      - product: ia
        component: bail-case-api

    # Reference DATA
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync

    # Divorce
      - product: div
        component: emca

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share

    # FPLA
      - product: fpl
        component: case-service

    # Fees and Pay
      - product: payment
        component: api

    #labs
      - product: labs
        component: mokainosspringboot
      - product: labs
        component: mokainosjavaapp
      - product: labs
        component: msl8r
      - product: labs
        component: ssian2
      - product: labs
        component: zc-hmcts
      - product: labs
        component: endakelly
      - product: labs
        component: ozzyib
      - product: labs
        component: rajivkapoor1
      - product: labs
        component: matthewsearle01-v3
      - product: labs
        component: jefex7
      - product: labs
        component: hw469
      - product: labs
        component: StuartBJustice
      - product: labs
        component: raraybould

    # SIDAM 
      - product: idam
        component: api
        ssl_enabled: true
        platform_record: true
      - product: idam
        component: api-sprod
        ssl_enabled: true
        platform_record: true
      - product: idam
        component: web-admin-sprod
        cookie_based_affinity: Enabled
        ssl_enabled: true
        platform_record: true
      - product: idam
        component: testing-support-api
        ssl_enabled: true
        platform_record: true

      # BulkScan
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: orchestrator
      - product: bulk-scan
        component: sample-app
      - product: bulk-scan
        component: payment-processor
        
      # Bulk Print (DTS)
      - product: rpe
        component: send-letter-service
        
      # ReformScan (like BulkScan but separate namespace for non-CFT members)
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

      - product: dg
        component: docmosis
        cookie_based_affinity: Enabled
        ssl_enabled: true
        platform_record: true
        host_name_prefix: docmosis
        http_to_https_redirect: true

    # Prometheus
      - product: prometheus
        component: "00"
        ssl_enabled: true
        platform_record: true
      - product: prometheus
        component: "01"
        ssl_enabled: true
        platform_record: true

    # Alert Manager
      - product: alertmanager
        component: "00"
        ssl_enabled: true
        platform_record: true
      - product: alertmanager
        component: "01"
        ssl_enabled: true
        platform_record: true