---

gateways:
  - gateway_configuration:
      host_name_suffix: service.core-compute-sandbox.internal
      ssl_host_name_suffix: sandbox.platform.hmcts.net
      certificate_name: STAR-sandbox-platform-hmcts-net
    app_configuration:
    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share

    # FPLA
      - product: fpl
        component: case-service

    # Fees and Pay
      - product: payment
        component: api

    # Plum Frontend
      - product: plum
        component: frontend

    # SIDAM 
      - product: idam
        component: api
        ssl_enabled: true
      - product: idam
        component: web-admin
        cookie_based_affinity: Enabled
        ssl_enabled: true

      - product: idam
        component: api-sprod
        ssl_enabled: true
      - product: idam
        component: web-admin-sprod
        cookie_based_affinity: Enabled
        ssl_enabled: true

      # BulkScan
      - product: bulk-scan
        component: processor
      - product: bulk-scan
        component: orchestrator
      - product: bulk-scan
        component: sample-app
      - product: bulk-scan
        component: payment-processor
      # Bulk Print (DTS)
      - product: rpe
        component: send-letter-service
      # ReformScan (like BulkScan but separate namespace for non-CFT members)
      - product: reform-scan
        component: blob-router
      - product: reform-scan
        component: notification-service

      - product: dg
        component: docmosis
        cookie_based_affinity: Enabled
        ssl_enabled: true
        host_name_prefix: docmosis

    # RPE
      - product: draft-store
        component: service
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api

    # Reference DATA
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync

    # Divorce
      - product: div
        component: emca

  - gateway_configuration:
      host_name_suffix: service.core-compute-sandbox.internal
      ssl_host_name_suffix: sandbox.platform.hmcts.net
      certificate_name: STAR-sandbox-platform-hmcts-net
    app_configuration:
    # RPE
      - product: draft-store
        component: service
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api

    # Reference DATA
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync

    # Divorce
      - product: div
        component: emca