---

gateways:
  - gateway_configuration:
      backend_pool_addresses:
        - 10.10.33.250
        - 10.10.35.250
      host_name_suffix: service.core-compute-ithc.internal
    app_configuration:
    # RPE
      - product: draft-store
        component: service
      - product: cmc
        component: pdf-service
      - product: rpe
        component: service-auth-provider
    # Probate
      - product: probate
        component: business-service
      - product: probate
        component: orchestrator-service
      - product: probate
        component: submit-service
    # I&A
      - product: ia
        component: case-api
      - product: ia
        component: case-notifications-api
      - product: ia
        component: case-documents-api
    # Reference DATA
      - product: rd
        component: professional-api
      - product: rd
        component: user-profile-api
      - product: rd
        component: profile-sync
      - product: rd
        component: judicial-api
      - product: rd
        component: judicial-data-load

    # Divorce
      - product: div
        component: emca
      - product: div
        component: fps
      - product: div
        component: dgs
      - product: div
        component: cms
      - product: div
        component: cos
      - product: div
        component: hm
      - product: div
        component: pfe
      - product: div
        component: rfe
      - product: div
        component: da
      - product: div
        component: dn

    # SSCS
      - product: sscs
        component: tribunals-api
      - product: sscs
        component: evidence-share

    # FPLA
      - product: fpl
        component: case-service

    # Fees and Pay
      - product: payment
        component: api

    # Evidence Management
      - product: em
        component: anno
      - product: em
        component: npa
      - product: em
        component: stitching
      - product: em
        component: ccd-orchestrator
      - product: dg
        component: docassembly
      - product: dm
        component: store

    # CCD
      - product: ccd
        component: data-store-api
      - product: ccd
        component: definition-store-api
      - product: ccd
        component: user-profile-api
      - product: ccd
        component: case-activity-api

    # xui
      - product: xui
        component: terms-and-conditions

    # SIDAM
      - product: idam
        component: api
        cookie_based_affinity: Enabled
      - product: idam
        component: web-admin
        cookie_based_affinity: Enabled

    # CMC
      - product: cmc
        component: claim-store
