name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: hmcts/cnp-azuredevops-libraries
          path: cnp-azuredevops-libraries

      - name: Setup Script
        run: |
          chmod +x cnp-azuredevops-libraries/scripts/tfenv-install-terraform.sh
      - name: Setup Terraform
        run: ./cnp-azuredevops-libraries/scripts/tfenv-install-terraform.sh
        working-directory: ./
        shell: bash

      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'
      
      - name: Install yq
        run: pip install yq

      - name: Use yq for processing
        run: |
          yq --version
    
      - name: yq - portable yaml processor
        uses: mikefarah/yq@v4.48.1

      - uses: pre-commit/action@v3.0.1
        with: 
          extra_args: terraform_fmt --all-files
        continue-on-error: true

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          file_pattern: environments/* components/* modules/*

      - uses: pre-commit/action@v3.0.1
        with: 
          extra_args: app_gateway_backend_check --all-files